*{
    font-family: 'Montserrat', sans-serif;
}
img{
  width:100%;
  height: 100%;
}
/* Used for navbar */
.Navbar_main {
    box-sizing: border-box;
    position: sticky !important;
    width: 100%;
    height: 100px;
    top: -1px;
    background: #F5F5F5 !important;
    border: 0.3px solid #ffffff;
    z-index: 9;
  }
  @media screen and (max-width:600px) {
    .Navbar_main{
      width: 100rem !important;
    }
  }

  .Navbarcon{
    width: 1920px;
    margin-left: 20% !important;
  }
  
  .nav-link {
    color: #666666 !important;
    font-size: 1.2vw !important;
    font-weight: 600 !important;
    font-style: normal !important;
    line-height: 24px !important;
    position: relative !important;
    display: flex !important;
  }
  a:hover {
    color: #666666 !important;
  }
  a:hover::after {
    width: 60%;
    margin-left: 10%;
    height: 3px;
  }
  .navbar_link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: #666666 !important;
    background: linear-gradient(45deg, #dd1180 20%, #90213b 80%) !important;
  }
  .navbar_link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg, #dd1180 20%, #90213b 80%) !important;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .nav-link:active {
    border-bottom: linear-gradient(45deg, #dd1180 20%, #90213b 80%) 2px solid !important;
    width: 60%;
  }
  
  .navbut{
    top:-40px
  }
  .logo {
    position: absolute !important;
    left: 12.71%;
    right: 86.83%;
    top: 0.39%;
    bottom: 98.85%;
  }
  .logocontainer {
    width: 13.4vw;
    height: 3.3vw;
    position: absolute;
    left: 5%;
    top: 15%;
  }
  .logoimage {
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }
  .shared-class{
    color: #5b5b5b !important;
  }
  .icons{
    display: flex;
    flex-direction: row;
    /* border:2px solid red; */
    justify-content: space-between;
    gap: 40px;
    margin-left: 2%;
  }
  /* ........................... */
  /* Used for Home */
  .carouselimg{
    width: 100% !important;
    height: 100vh !important;
  }
  .CarouselCaptioncon1{
    width: 36.3vw;
    height: 15vw;
    position: absolute;
    top:25%;
    left: 10% !important;
  }
  .CarouselCaption1,.CarouselCaption2{
    font-weight: 700 !important;
    font-size: 4vw !important;
    line-height: 85.33px !important;
    text-align: left;
  }
  .carousel-control-prev-icon,.carousel-control-next-icon {
    background-image: none !important;
  }
  .CarouselCaption2{
    color: #ffffff;
  }
  .CarouselCaptioncon2{
    width: 33.4vw;
    height: 15vw;
    position: absolute;
    top:25%;
    left: 10% !important;
  }
  /* ................... */
  /* Used for Services */
  .Service{
    width:98vw;
    height: 60vw;
    /* border: red 1px solid; */
    margin: 2% auto 2% auto;
    
  }
  .Servicecontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 11px;
    margin-top: 2%;
    text-align: center;
  }
  .Servicetextcon{
    width: 98vw;
    height: 4.5vw;
    /* border:1px solid red; */
    display: block; 
  }
  .Servicetexthead{
    font-size: 2.3vw;
    font-weight: 600;
    line-height: 49px;
    text-align: center;
  }

  hr{
    border: #AD3AA9 2px solid !important;
    width:5%;
    opacity: 1 !important;
    margin: auto !important;
  }

  .Servicecon1,.Servicecon2,.Servicecon3,.Servicecon4{
    width:24vw;
    height: 17.5vw;
    /* border: 1px red solid; */
  }
  .Servicecon2{
    height: 40.13vw;
  }
  .Servicecon{
    display: flex;
    flex-direction: row;
    gap:13px;
    margin-top: -1%;
  }
  .Servicecon5{
    height: 35.5vw;
    /* border: 1px red solid; */
    /* width:460px */
    width:24vw;

  }
  .Servicecon6{
    height: 35.5vw;
    /* border: 1px red solid; */
    width:24vw;

  }
  .Servicesubcontainer{
    /* border: 1px solid yellow; */
    height: 11.78vw;
    display: flex;
    flex-direction: row;
    width:24vw;
  }
  .Servicesubcon1,.Servicesubcon2{
    width:12vw;
    /* border: red 1px solid; */
  }
  .Servicesubcontainer1{
    width:24vw;
    height: 11.78vw;
    /* border: red 1px solid; */
    margin-top: 1%;
  }

  