*{
    font-family: 'Montserrat', sans-serif;
}
/* Used for navbar */
.Navbar_main {
    box-sizing: border-box;
    position: sticky !important;
    width: 100%;
    height: 100px;
    top: -1px;
    background: #F5F5F5 !important;
    border: 0.3px solid #ffffff;
    z-index: 9;
  }
  @media screen and (max-width:600px) {
    .Navbar_main{
      width: 100rem !important;
    }
    
  }
  .Navbarcon{
    width: 1920px;
    /* border: red solid 1px; */
    margin-left: 25% !important;
  }
  
  .nav-link {
    color: #666666 !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    font-style: normal !important;
    line-height: 24px !important;
    position: relative !important;
    display: flex !important;
    
    /* align-items: center !important; */
    /* right: 55% !important; */
  }
  a:hover {
    color: #666666 !important;
  }
  a:hover::after {
    width: 60%;
    margin-left: 10%;
    height: 3px;
  }
  .navbar_link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: #666666 !important;
    background: linear-gradient(45deg, #dd1180 20%, #90213b 80%) !important;
  }
  .navbar_link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(45deg, #dd1180 20%, #90213b 80%) !important;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .nav-link:active {
    border-bottom: linear-gradient(45deg, #dd1180 20%, #90213b 80%) 2px solid !important;
    /* border-bottom: #90213B 2px solid !important; */
  }
  
  .navbut{
    top:-40px
  }
  .logo {
    position: absolute !important;
    left: 12.71%;
    right: 86.83%;
    top: 0.39%;
    bottom: 98.85%;
  }
  .logocontainer {
    width: 228.3px;
    height: 55px;
    position: absolute;
    left: 60px;
    top: 20px;
  }
  .logoimage {
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }
  .buttonicon {
    content: "";
    width: 25px;
    height: 17px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .shared-class{
    color: #5b5b5b !important;
  }
  .icons{
    display: flex;
    flex-direction: row;
    /* border:2px solid red; */
    justify-content: space-between;
    gap: 40px;
    margin-left: 2%;
  }
  /* Used for Home */
  .carouselimg{
    width: 100% !important;
    height: 100vh !important;
  }
  .CarouselCaptioncon1{
    width: 620px;
    height: 255px;
    position: absolute;
    top:25%;
    left: 10% !important;
  }
  .CarouselCaption1,.CarouselCaption2{
    font-weight: 700 !important;
    font-size: 70px !important;
    line-height: 85.33px !important;
    text-align: left;
  }
  .carousel-control-prev-icon,.carousel-control-next-icon {
    background-image: none !important;
  }
  .CarouselCaption2{
    color: #ffffff;
  }
  .CarouselCaptioncon2{
    width: 570px;
    height: 255px;
    position: absolute;
    top:25%;
    left: 10% !important;
  }
  